/*styling for body
background-color: #EFF0F0;
*/
body{
	background: url("background.png");
	/* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding: 20px 20px;
	font-size: 17px;
	text-align: center; 
	
}
/*styling for form*/
form {
    display: inline-block;
	padding: 30px 30px;
	background-color: #CCCFFE;
	font-family: "Arial", Helvetica, Sans-serif;
	
}
/*styling for header*/
.header {
  background: url("Header.png") no-repeat top center;
 color: white;
  height: 150px;
  border-radius: 30px;
  font-family: "Arial", Helvetica, Sans-serif;
  
}

/*styling for footer*/
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #103B46;
	color: white;
	text-align: center; 
	font-size: 18px;
	font-style: bold;
	padding: 2px 2px;
	font-family: "Arial", Helvetica, Sans-serif;
	
}



/*styling for submit button*/
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
} 
/*styling for first name field*/
input[type=text][name=fname] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	font-style: bold;
	text-align: center; 
}
/*styling for last name field*/
input[type=text][name=lname] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	font-style: bold;
	text-align: center; 
}




  /*styling for phone number*/
input[type=number][name=pnumber] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center; 
  
}
/*styling for email*/
input[type=email][name=email] {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 12px;
	font-style: italic;
	text-align: center; 
}
	
/*styling for promo code*/
input[type=text][name=promo] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center; 
  
}
/*styling for other field*/
input[type=text][name=other] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center; 
}

input[style = overflow] {
	text-align: center;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #F2AAAA;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #F2AAAA;
}

/*styling for submit button when using mouse to hover*/
  input[type=submit]:hover {
  background-color: #45a049;
}

